html, body {
  margin: auto;
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 700px;
}
canvas {
  display:block;
  padding: 5px;
  margin:auto;
}

.fortuneButton{
  padding:5px;
  background-color: #949494;
  margin-left:20px;

}
.fortuneInput{
  margin-left: 100px;
  width:308px;
}
